include ../../components/header/header.pug
include ../../components/main-nav/main-nav.pug
include ../../components/logo/logo.pug
include ../../components/site-nav/site-nav.pug
include ../../components/user-nav/user-nav.pug
include ../../components/btn/btn.pug
include ../../components/slider-top/slider-top.pug
include ../../components/slider-main/slider-main.pug
include ../../components/advantages/advantages.pug
include ../../components/media-obj/media-obj.pug

include ../../components/banners/banners.pug
include ../../components/products/products.pug
include ../../components/investments/investments.pug