extends ../templates/template

block variables
  -
    const pages = [{
      title: `Главная`,
      link: `main.html`,
    }];

block content
  style.
    body { padding: 10px }
    ol { list-style: decimal; padding-left: 20px }

  main
    h1 Страницы:
    ol
      each page in pages
        li
          a(href=page.link)= page.title
