.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-red {
  background-color: $red;
}

.bg-l-red {
  background-color: $l-red;
}

.bg-green {
  background-color: $green;
}

.bg-l-green {
  background-color: $l-green;
}

.bg-l-blue {
  background-color: $l-blue;
}

.bg-grey {
  background-color: $grey;
}

.bg-l-grey {
  background-color: $l-grey;
}

.bg-d-grey {
  background-color: $d-grey;
}
